<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="{{ url_for('static', filename='ico/favicon.png') }}">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% block head_extra %}{% endblock %}

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>The Meson Build System - Wrap DB</title>
    {% endif %}
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Wrap DB</a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item {% block navbar_projects %}{% endblock %}">
              <a class="nav-link" href="/">Projects</a>
            </li>
            <li class="nav-item {% block navbar_tickets %}{% endblock %}">
              <a class="nav-link" href="/tickets">Tickets</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://mesonbuild.com">The Meson Build System</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      {% block body %}{% endblock %}
    </div>

    <footer class="footer">
      <div class="panel-footer text-center">
        Wrap DB: <a href="https://github.com/mesonbuild/mesonwrap">source code</a> -- <a href="https://github.com/mesonbuild/wrapdb/issues">new wrap</a>. © 2015 The Meson development team.
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
  </body>
</html>
