{% extends "layout.html" %}
{% block navbar_projects %}active{% endblock %}

{% block body %}
<h1>Projects</h1>
<div class="container">
  {# row-cols-1: there is 1 column by default
     row-cols-$screen-$columns: there are $columns columns on a $screen screen
   #}
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
    {% for p in projects %}
    <div class="p-1">
      <a href="{{ url_for('ui.project_info', project=p) }}"
         class="d-flex btn btn-light border">{{ p }}</a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
