{% extends "layout.html" %}
{% block body %}
  <h2>{{ project }} - Wrap DB</h2>
  <br>
  <h3>Versions</h3>
  <table border="1" style="width:100%">
    <tr>
      <th>Branch</th>
      <th>Revision</th>
      <th>Download wrap</th>
    </tr>
    {% for p in versions %}
    <tr>
      <td>{{ p["branch"] }}</td>
      <td>{{ p["revision"] }}</td>
      <td><a href={{ url_for("get_wrap", project=project, branch=p["branch"], revision=p["revision"]).replace("get_zip", "get_wrap") }}>Download</a></td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
