{% extends "layout.html" %}

{% block head_extra %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tickets.css') }}">
{% endblock %}

{% block body %}
<h1>Tickets</h1>
<div class="container">
  {% for t in tickets %}
    <div class="card m-3 {{ t.type.value }}">
      <div class="card-header py-2">
        <a class="ticket-project" href="{{ t.project.url }}">{{ t.project.title }}</a>
        <a class="card-title" href="{{ t.url }}">{{ t.title }}</a>
      </div>
      <div class="card-body py-1 text-secondary">
        Created at {{ t.created_at }}
        by <a href="{{ t.author.url }}">{{ t.author.title }}</a>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
